* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
.gen {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.box {
    width: 150px;
    height: 150px;
    border: 2px dashed black;
    margin: 10px;
}